@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    background: #F8FAFC;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Style Profil */
.boxUtama {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 5px;

    position: relative;
    width: 372px;
    height: 602.5px;
    left: calc(50% - 372px/2);

    background: #FFFFFF;

    box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.05), 0px 2.5px 5px -2px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

.boxKonten {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;

    width: 332px;
    height: 562.5px;

    border-radius: 12.5px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.box {
    width: 322px;
    height: 552.5px;

    border-radius: 0px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.konten {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 50px;

    position: absolute;
    width: 255px;
    height: 518px;
    left: calc(50% - 255px/2 + 0.5px);
    top: calc(50% - 518px/2 - 0.25px);
}

p.konten-judul {
    font-family: 'Quicksand Light';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    text-align: center;

    color: #2482C6;
}

.konten-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 255px;
    height: 357px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.form-inputan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    
    width: 255px;
    height: 47px;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.form-inputan label {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;

    color: #808080;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.form-inputan input.form-control {
    box-sizing: border-box;

    width: 255px;
    height: 30px;
    padding: 10px;

    background: #FFFFFF;
    border: 0.5px solid #A0A0A0;
    border-radius: 3px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    color: #808080;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.form-inputan input.form-control:hover {
    border: 0.5px solid #2482C6;
}

.form-inputan input.form-control:focus {
    border-color: #2482C6;
}

.buttonSimpan {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 19px;
    gap: 10px;

    width: 101px;
    height: 29px;

    background: #2482C6;
    border-radius: 3px;
    border: 0px solid transparent;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;

    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}